app = 'attestationserver'
primary_region = 'bom'

[build]
dockerfile = "Dockerfile"

[env]
PORT = '80'

[mounts]
source = "attestation_data"
destination = "/data"

[http_service]
internal_port = 80
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
